@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Gilroy-Regular", sans-serif;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #000000d3;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.top img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
  object-fit: cover;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}

.center h3 {
  font-size: 20px;
  font-weight: bold;
}
.center h3 span {
  font-size: 10px;
  font-weight: 400;
  color: #aeaeae;
}

.center h2 {
  font-size: 27px;
  font-weight: bold;
}
.center .tag {
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4 {
  font-size: 10px;
  background-color: #e4e4e4;
  color: #202020;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7ce;
  padding-top: 15px;
}

.bottom button {
  background-color: rgb(18, 18, 18);
  color: white;
  padding: 7px 12px;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-size: 12px;
  column-width: 600;
  font-weight: bold;
}

.bottom button:hover{
  background-color: rgb(189, 189, 189);
  color: black;
}

.bottom h3 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 4px;
}
.bottom p {
  font-size: 10px;
  color: #8b8b8b;
  font-weight: bold;
}


/* ===== NAVBAR ===== */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #000000;
  color: white;
}

/* CENTER LINKS */

.nav-center {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-center li {
  cursor: pointer;
  font-weight: 500;
}

.nav-center li:hover {
  color: #60a5fa;
}

/* RIGHT BUTTONS */

.nav-right button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.login {
  background: transparent;
  color: white;
  border: 1px solid rgb(145, 145, 145)!important; 
}

.signup {
  background-color: #2563eb;
  color: white;
}

/* ===== HAMBURGER ===== */

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* ===== MOBILE RESPONSIVE ===== */

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-center {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #111827;

    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px 0;
    display: none;
  }

  .nav-center.active {
    display: flex;
  }

  .nav-right {
    display: none;
  }
}